.invited__user-container {
  display: flex;
  align-items: center;
  position: relative;
  left: 30px;
}

.invited__user {
  border-radius: 50%;
  position: relative;
}

.invited__user-rel {
  right: 6px;
}

.invited__user-rel-3 {
  right: 12px;
}

.invited__user-rel-4 {
  right: 18px;
}

.invited__user-last {
  background-color: #f4d7da;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 24px;
}
